<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.User.Ctrl.LoginCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.User.Ctrl.RegCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCtrl</servlet-name>
    <url-pattern>/servlet/LoginCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegCtrl</servlet-name>
    <url-pattern>/servlet/RegCtrl</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoodFoundCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.Goods.Ctrl.GoodFoundCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShopCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.Store.Ctrl.ShopCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BackManagCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.Store.Ctrl.BackManagCtrl</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.faces</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodFoundCtrl</servlet-name>
    <url-pattern>/servlet/GoodFoundCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShopCtrl</servlet-name>
    <url-pattern>/servlet/ShopCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackManagCtrl</servlet-name>
    <url-pattern>/servlet/BackManagCtrl</url-pattern>
  </servlet-mapping>
</web-app>