<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.User.Ctrl.LoginCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.User.Ctrl.RegCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCtrl</servlet-name>
    <url-pattern>/servlet/LoginCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegCtrl</servlet-name>
    <url-pattern>/servlet/RegCtrl</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoodFoundCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.Goods.Ctrl.GoodFoundCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShopCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.Store.Ctrl.ShopCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BackManagCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.Store.Ctrl.BackManagCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.Store.Ctrl.SearchCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CateSearchCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.Store.Ctrl.CateSearchCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShopInfoCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.Store.Ctrl.ShopInfoCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InsertInofCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.Store.Ctrl.InsertInofCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InsertShopInfoCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.Store.Ctrl.InsertShopInfoCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchInfoCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.Store.Ctrl.SearchInfoCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchShopCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.Store.Ctrl.SearchShopCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InsertCateCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.Store.Ctrl.InsertCateCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchCateShopCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.Store.Ctrl.SearchCateShopCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyShopCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.Store.Ctrl.ModifyShopCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteShopCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.Store.Ctrl.DeleteShopCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyCateCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.Store.Ctrl.ModifyCateCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleCateCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.Store.Ctrl.DeleCateCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HomeCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.Store.Ctrl.HomeCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchOneCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.Store.Ctrl.SearchOneCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TwoCateSearchCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.Store.Ctrl.TwoCateSearchCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PersonalCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.User.Ctrl.PersonalCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyPassCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.User.Ctrl.ModifyPassCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RechargeCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.User.Ctrl.RechargeCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StartShopCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.User.Ctrl.StartShopCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BackStageCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.User.Ctrl.BackStageCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleUserCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.yali.User.Ctrl.DeleUserCtrl</servlet-class>
  </servlet>























  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.faces</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodFoundCtrl</servlet-name>
    <url-pattern>/servlet/GoodFoundCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShopCtrl</servlet-name>
    <url-pattern>/servlet/ShopCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackManagCtrl</servlet-name>
    <url-pattern>/servlet/BackManagCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchCtrl</servlet-name>
    <url-pattern>/servlet/SearchCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CateSearchCtrl</servlet-name>
    <url-pattern>/servlet/CateSearchCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShopInfoCtrl</servlet-name>
    <url-pattern>/servlet/ShopInfoCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertInofCtrl</servlet-name>
    <url-pattern>/servlet/InsertInofCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertShopInfoCtrl</servlet-name>
    <url-pattern>/servlet/InsertShopInfoCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchInfoCtrl</servlet-name>
    <url-pattern>/servlet/SearchInfoCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchShopCtrl</servlet-name>
    <url-pattern>/servlet/SearchShopCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertCateCtrl</servlet-name>
    <url-pattern>/servlet/InsertCateCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchCateShopCtrl</servlet-name>
    <url-pattern>/servlet/SearchCateShopCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyShopCtrl</servlet-name>
    <url-pattern>/servlet/ModifyShopCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteShopCtrl</servlet-name>
    <url-pattern>/servlet/DeleteShopCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyCateCtrl</servlet-name>
    <url-pattern>/servlet/ModifyCateCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleCateCtrl</servlet-name>
    <url-pattern>/servlet/DeleCateCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeCtrl</servlet-name>
    <url-pattern>/servlet/HomeCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchOneCtrl</servlet-name>
    <url-pattern>/servlet/SearchOneCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TwoCateSearchCtrl</servlet-name>
    <url-pattern>/servlet/TwoCateSearchCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonalCtrl</servlet-name>
    <url-pattern>/servlet/PersonalCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyPassCtrl</servlet-name>
    <url-pattern>/servlet/ModifyPassCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RechargeCtrl</servlet-name>
    <url-pattern>/servlet/RechargeCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StartShopCtrl</servlet-name>
    <url-pattern>/servlet/StartShopCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackStageCtrl</servlet-name>
    <url-pattern>/servlet/BackStageCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleUserCtrl</servlet-name>
    <url-pattern>/servlet/DeleUserCtrl</url-pattern>
  </servlet-mapping>
  
  <filter>  
        <filter-name>ShopkeeperFilter</filter-name>  
        <filter-class>cn.edu.zhku.jsj.yali.Filter.ShopkeeperFilter</filter-class>  
    </filter>  
    <filter-mapping>  
        <filter-name>ShopkeeperFilter</filter-name>  
        <url-pattern>/shop.jsp</url-pattern>  
        <url-pattern>/storectrl.jsp</url-pattern>  
    </filter-mapping>
</web-app>